/*body{
    height: 500px;
    background-image: 
    url(https://img.freepik.com/foto-gratis/textura-patron-pared-ladrillo-rojo_53876-23210.jpg?w=2000);
    background-size: 100rem;
}*/

body{
    height: 500px;
    background-color: aqua;
}